/core/build/
/.idea/
/android/build/
/T/android/build/
/.gradle/
/T/.gradle/
/T/.idea/
/T/.temp/2491f348/
/T/android/.idea/
/T/android/local.properties
/T/core/.temp/2491f348/
/T/core/build/
/T/desktop/.idea/
/T/desktop/build/
/T/desktop/local.properties
/T/local.properties
/android/assets/.temp/2491f348/
/desktop/.idea/sonarlint/issuestore/
